.footer-container {
  width: 100%;

  .upper-wave {
    width: 100%;
    transform: translateY(4px);
  }

  .content {
    width: 100%;
    background-color: $red;
    color: $white;
    @include flexCenter(row);
    padding-bottom: 32px;
    font-size: large;

    a {
      color: $white;
      text-decoration: none;
      text-align: left;
    }
  }
}
