.intro-container {
  @include flexCenter(column);
  align-items: flex-start;
  flex-wrap: nowrap;
  @media only screen and (max-width: 800px) {
    width: 91%;
  }
  width: 42%;

  .title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
    @media only screen and (max-width: 800px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  .wave {
    font-size: 1.2em;
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: 2; /* Run only twice :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;

    &:hover {
      animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s; /* Change to speed up or slow down */
      animation-iteration-count: infinite;
    }
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  .description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: medium;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
