.wave-container {
  width: 100%;

  .upper-wave {
    width: 100%;
    transform: translateY(4px);
  }

  .lower-wave {
    width: 100%;
    transform: translateY(-4px);
  }

  .child {
    width: 100%;
    background-color: $red;
    color: $white;
    @include flexCenter(column);
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (min-width: 768px) {
      .md\:p-8 {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
    @media (min-width: 640px) {
      .sm\:p-16 {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
  }
}
